#### Class

In [1]:
num1 =34
print(type(num1))

<class 'int'>

In [2]:
num2 = 56.78
print(type(num2))

<class 'float'>

In [3]:
str1 = 'Data'
print(type(str1))

<class 'str'>

In [6]:
l1 = [24, 25, 26, True]
print(type(l1))

<class 'list'>

In [7]:
d1 = {'Name':['Seeta', 'Geeta', 'Neeta', 'Meeta'],
      'Age':[23, 24,34,35]}
print(type(d1))

<class 'dict'>

In [11]:
d1

{'Name': ['Seeta', 'Geeta', 'Neeta', 'Meeta'], 'Age': [23, 24, 34, 35]}

In [111]:
from warnings import filterwarnings
filterwarnings ('ignore')

In [112]:
class Person :
    def __init__(self, name, age, gender, occupation):
        self.name = name,
        self.age = age , 
        self.gender = gender,
        self.occupation = occupation

In [113]:
p2 = Person('Swara', 23, 'female', 'Asst. Prof')

In [114]:
p2.name

('Swara',)

In [115]:
p1 = Person(name = 'Umesh', age = 23, gender = 'male', occupation= 'Bussiness')

In [116]:
p1.occupation

'Bussiness'

In [117]:
p1.occupation = 'ML Engineer'

In [118]:
p1.occupation

'ML Engineer'

In [119]:
p1.Salary = 550000

In [120]:
p1.Salary

550000

In [121]:
p1.__delattr__('Salary')

In [122]:
p1.Salary

AttributeError: 'Person' object has no attribute 'Salary'

In [123]:
class Person :
    country = 'India'           #class Atributes
    def __init__(self, name, age, gender, occupation):
        self.name = name,
        self.age = age , 
        self.gender = gender,
        self.occupation = occupation

In [124]:
p1 = Person(name = 'Umesh', age = 23, gender = 'male', occupation= 'Bussiness')

In [125]:
p1.country

'India'

In [126]:
class Person :
    country = 'India'          
    def __init__(self, name, age, gender, occupation):
        self.name = name
        self.age = age 
        self.gender = gender
        self.occupation = occupation

    def talk(self):
        print(f'Hi I am {self.name}')  
        print(f'I am {self.age} years old')
        print(f'My Profession is {self.occupation}')
        print(f'I am {self.gender}')

In [127]:
p1 = Person('Ram', 23, 'Male', 'Buisness')

In [128]:
p1.name

'Ram'

In [129]:
type(p1.name)

str

In [130]:
p1.occupation

'Buisness'

In [131]:
p1.talk()

Hi I am Ram
I am 23 years old
My Profession is Buisness
I am Male

In [132]:
p1.country

'India'

 # Creat Student class with dataclasses
- name 
- gender
- marks
- hobbies

In [133]:
from dataclasses import dataclass
from typing import Literal

In [150]:
@dataclass
class Student:
    Name: str
    Marks: int|float
    Gender:Literal['Male', 'Female']
    Hobbies:list[str]
    def get_info(self):
        print(f'I am {self.Name}')
        print(f'I got marks {self.Marks}')
        print(f'I am {self.Gender}')
        print(f'My Hobbies are {self.Hobbies}')

In [151]:
s1 = Student('Malhar',89.2, 'Male', ['Reading', 'Swimming'])

In [152]:
s1.Marks

89.2

In [137]:
s1.Hobbies

['Reading', 'Swimming']

In [154]:
s1.get_info()

I am Malhar
I got marks 89.2
I am Male
My Hobbies are ['Reading', 'Swimming']

In [139]:
@dataclass
class Account:
    Name : str
    acc_no : int
    bal :float|int
    def check_balance(self):
        print(f'Current balance of account {self.acc_no} is Rs {self.bal}')

    def deposit(self, amt):
        print(f'Amount of Rs {amt} is added in account {self.acc_no}')
        self.bal = self.bal+amt
        self.check_balance()

    def withdraw(self, amt):
        if self.bal<amt:
            raise ValueError('Insufficient Balance')
        else:
            self.bal =self.bal - amt
            print('Amount of Rs', amt, 'is withdrawed from account', self.acc_no)
    def Transfer(self, amt:int|float, ac = 'Account'):
        self.withdraw(amt)
        ac.deposit(amt)

In [140]:
u1 = Account('Babita', 1234, 2000)

In [141]:
u1.Name

'Babita'

In [142]:
u1.bal

2000

In [143]:
u1.check_balance()

Current balance of account 1234 is Rs 2000

In [144]:
u1.deposit(500)

Amount of Rs 500 is added in account 1234
Current balance of account 1234 is Rs 2500

In [145]:
u2 = Account('Smita', 5678, 2300)

In [146]:
u2.Transfer(200, u1)

Amount of Rs 200 is withdrawed from account 5678
Amount of Rs 200 is added in account 1234
Current balance of account 1234 is Rs 2700

In [155]:
u2.withdraw(3000)

ValueError: Insufficient Balance

In [148]:
u1.check_balance()

Current balance of account 1234 is Rs 2700

In [149]:
u2.check_balance()

Current balance of account 5678 is Rs 2100

In [1]:
from dataclasses import dataclass

In [2]:
@dataclass
class Triangle :
    a : int|float
    b : int|float
    c : int|float

    def is_triangle(self):
        if (
            (self.a + self.b > self.c) and 
            (self.b + self.c > self.a)  and 
            (self.c + self.a > self.b) ):
            return True
        else:
            return False
        
    def perimeter(self):
        return self.a + self.b + self.c
    def Area(self):
        s = self.perimeter()/2
        return (s*(s-self.a)*(s-self.b)*(s-self.c))**(1/2)

In [3]:
t1 = Triangle(2,3,4)

In [4]:
t1.perimeter()

9

In [5]:
t1.Area()

2.9047375096555625

In [8]:
t2 = Triangle(2, 31, 4)

In [9]:
t2.perimeter()

37

In [10]:
t2.Area()

(1.4402825534459173e-14+235.2159911655668j)

In [47]:
@dataclass
class Triangle :
    a : int|float
    b : int|float
    c : int|float
        
    def perimeter(self):
        if (
            (self.a + self.b > self.c) and 
            (self.b + self.c > self.a)  and 
            (self.c + self.a > self.b) ):
             return self.a + self.b + self.c
             
      
    def Area(self):
        if self.perimeter() is not None:
            s = self.perimeter()/2
            return (s*(s-self.a)*(s-self.b)*(s-self.c))**(1/2)
        else:
            return 'Not able to find area'

In [48]:
T1= Triangle(13,14,15)

In [49]:
T1.perimeter()

42

In [50]:
T1.Area()

84.0

In [51]:
T2 = Triangle(13,1,20)

In [52]:
T2.perimeter()

In [53]:
T2.Area()

'Not able to find area'

In [54]:
T3 = Triangle(1,3,9)

In [55]:
T3.perimeter()

In [56]:
T3.Area()

'Not able to find area'

In [57]:
T4= Triangle(20,40,30)

In [59]:
T4.a

20

In [60]:
t4.b

40

In [61]:
t4.c

30

In [62]:
T4.perimeter()

90

In [63]:
t4.Area()

290.4737509655563

In [64]:
t = [T1, T2, T3, T4]
for i in t:
    print('Area of Triangle is', i.Area())
    print()
    print('Perimeter of Triangle is', i, i.perimeter())
    print()
    print('============================================')
    print()

Area of Triangle is 84.0

Perimeter of Triangle is Triangle(a=13, b=14, c=15) 42

============================================

Area of Triangle is Not able to find area

Perimeter of Triangle is Triangle(a=13, b=1, c=20) None

============================================

Area of Triangle is Not able to find area

Perimeter of Triangle is Triangle(a=1, b=3, c=9) None

============================================

Area of Triangle is 290.4737509655563

Perimeter of Triangle is Triangle(a=20, b=40, c=30) 90

============================================

In [76]:
import math

In [1]:
class Triangle:
    def __init__(self, side1, side2, side3):
        self.side1 = side1
        self.side2 = side2
        self.side3 = side3

    def is_valid(self):
        # Check if the sides form a valid triangle
        return (self.side1 + self.side2 > self.side3 and
                self.side2 + self.side3 > self.side1 and
                self.side1 + self.side3 > self.side2)
    def perimeter(self):
        # Return the perimeter of the triangle
        return self.side1 + self.side2 + self.side3

def area(self):
    if not self.is_valid():
       raise ValueError ("The given sides do not form a valid triangle.")
        
        # Using Heron's formula to calculate area
    s = self.perimeter() / 2
    area = math.sqrt(s  (s - self.side1)  (s - self.side2) (s- self.side3))

In [10]:
t6 = Triangle(20,2,1)

In [11]:
t6.is_valid()

False

In [2]:
t2 = Triangle(4,5,6)

In [3]:
t2.is_valid()

True

In [4]:
t3 = Triangle(7,8,9)

In [5]:
t3.is_valid()

True

In [6]:
t1 = Triangle(2,3,4)

In [7]:
t1.side1

2

In [8]:
t5 = Triangle(25,0,26)

In [9]:
t5.is_valid()

False

In [ ]:
# creat class for simple calculator
- addition
- subtraction
- multiplication
- division

In [65]:
@dataclass
class Calculator:
    x : int|float
    y : int|float

    def addition(self):
        if isinstance(self.x , (int, float)) and isinstance(self.y , (int, float)):
            return self.x + self.y
    
    def subtraction(self):
        if self.addition() is not None:
            return self.x - self.y
    
    def multiplication(self):
        if self.addition() is not None:
            return self.x*self.y
    
    def division(self):
        if self.y != 0 and  self.addition() is not None:
            return self.x/self.y
        else:
            raise ValueError('Infinity')

In [66]:
o1 = Calculator(2,9)

In [67]:
o1.division()

0.2222222222222222

In [68]:
o2 = Calculator(2, 'Science')

In [69]:
o2.addition()

In [70]:
o2.multiplication()

In [71]:
o2.division()

ValueError: Infinity

In [72]:
o3 = Calculator(34,0)

In [73]:
o3.division()

ValueError: Infinity

In [74]:
o3.addition()

34

In [75]:
o3.multiplication()

0