#### Exception Handling

In [1]:
23/34

0.6764705882352942

In [2]:
/23

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
C:\Users\PRAJAKTA\AppData\Local\Temp\ipykernel_17516\3824389642.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  23()

TypeError: 'int' object is not callable

In [3]:
'str'/34

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [5]:
s1 = '123'
int(s1)

123

In [6]:
s2 = 'abc'
int(s2)

ValueError: invalid literal for int() with base 10: 'abc'

##### Define Function for Division of two numbers

In [12]:
def Division():
    num = float(input())
    den = float(input())
    div = num/den
    print(f'division is between {num} and {den} --> {num}/{den}')
    return div

In [13]:
Division()

division is between 12.0 and 2.0 --> 12.0/2.0

6.0

In [10]:
Division()
print('hello')

division is between 2.0 and 3.0 --> 2.0/3.0
hello

In [11]:
Division()

ValueError: could not convert string to float: ''

### Use Try and Except

In [14]:
def Division2():
    try:
        num = float(input())
        den = float(input())
        div = num/den
        print(f'division is between {num} and {den} --> {num}/{den}')
        return div
    except Exception as e:
        print('Exception occured', e)

In [15]:
Division2()

division is between 12.0 and 4.0 --> 12.0/4.0

3.0

In [18]:
Division2()
print(12+32)
print('hello')
print('data')

division is between 23.0 and 2.0 --> 23.0/2.0
44
hello
data

In [19]:
Division2()
print(12+32)
print('hello')
print('data')

Exception occured float division by zero
44
hello
data

In [20]:
Division2()
print(12+32)
print('hello')
print('data')

Exception occured could not convert string to float: ''
44
hello
data