In [2]:
dict1 = {'name': 'Swaraj', 'age': 2.5}
len(dict1)

2

In [4]:
dict1 = {'name': ['Swaraj','Swara', 'Aishu'], 'age': [2.5, 4.5, 23.0]}
len(dict1)

2

In [7]:
import pandas as pd

In [6]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.5-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\advanced_python\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in d:\advanced_python\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
Downloading numpy-2.2.5-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ---- ----------------------------------- 1.3/12.6 MB 7.8 MB/s eta 0:00:02
   --------- ------------------------------ 3.1/12.6 MB 7.7 MB/s eta 0:00:02
   --------------- ------------------------ 5.0/12.6 MB 8.1 MB/s eta 0:00:01
   --------------------- ------------------ 6.8/12.6 MB 8.3 MB/s eta 0:00:01
   --------------------------- ------------ 8.7/12.6 MB 8.3 MB/s eta 0:00:01
   -------------------------------- ------- 10.2/12.6 MB 8.4 MB/s eta 0:00:01
   ------------------------------------- -- 11.8/12.6 MB 8.2 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 7.9 MB/s eta 0:00:00
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.5 pandas-2.2.3 pytz-2025.2 tzdata-2025.2

In [8]:
data = pd.DataFrame(dict1)
data

     name   age
0  Swaraj   2.5
1   Swara   4.5
2   Aishu  23.0

In [9]:
len(data)

3

In [10]:
12 +45.67

57.67

In [11]:
'data' + 'science'

'datascience'

In [12]:
True + True

2

In [13]:
[12, 23, 34]+[12,23,34]

[12, 23, 34, 12, 23, 34]

In [16]:
l1 = [12, 23, 34]
l2 = [12, 25 ,64]
l3 =[]
for i in range(len(l1)):
   l3.append(l1[i]+l2[i])

In [17]:
l3

[24, 48, 98]

In [18]:
(12, 34, 65) + (12, 67, 98)

(12, 34, 65, 12, 67, 98)

In [19]:
{12, 34, 65} + {12, 35, 56}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [20]:
from dataclasses import dataclass

In [28]:
class India:
    def Capital(self):
        print('Capital of India is New Delhi')
    def Langauge(self):
        print('Hindi is Widely Sopken Langauge in India')

class USA:
    def Capital(self):
        print('Capital of USA is Washington D.C')
    def Langauge(self):
        print('English is Widely Sopken Langauge in USA')  

class France:
    def Capital(self):
        print('Capital of France is Paris')
    def Langauge(self):
        print('French is Widely Sopken Langauge in France')

In [29]:
a = India()

In [30]:
a.Capital()

Capital of India is New Delhi

In [31]:
a.Langauge()

Hindi is Widely Sopken Langauge in India

In [32]:
b = USA()

In [33]:
b.Capital()

Capital of USA is Washington D.C

In [34]:
b.Langauge()

English is Widely Sopken Langauge in USA

In [35]:
c = France()

In [36]:
c.Capital()

Capital of France is Paris

In [37]:
c.Langauge()

French is Widely Sopken Langauge in France

In [38]:
t = [a, b, c]
for i in t:
    print(i.Capital())
    print(i.Langauge())
    print()
    print('=======================================')
    print()

Capital of India is New Delhi
None
Hindi is Widely Sopken Langauge in India
None

=======================================

Capital of USA is Washington D.C
None
English is Widely Sopken Langauge in USA
None

=======================================

Capital of France is Paris
None
French is Widely Sopken Langauge in France
None

=======================================

In [39]:
class India:
    def Capital(self):
        return('Capital of India is New Delhi')
    def Langauge(self):
        return('Hindi is Widely Sopken Langauge in India')

class USA:
    def Capital(self):
        return('Capital of USA is Washington D.C')
    def Langauge(self):
        return('English is Widely Sopken Langauge in USA')  

class France:
    def Capital(self):
        return('Capital of France is Paris')
    def Langauge(self):
        return('French is Widely Sopken Langauge in France')

In [42]:
x = India()
y = USA()
z = France()

In [45]:
t = [x, y, z]
for i in t:
    print(i.Capital())
    print(i.Langauge())
    print()
    print()
    print('******************************************')
    print()
    print()

Capital of India is New Delhi
Hindi is Widely Sopken Langauge in India


******************************************


Capital of USA is Washington D.C
English is Widely Sopken Langauge in USA


******************************************


Capital of France is Paris
French is Widely Sopken Langauge in France


******************************************

In [1]:
from dataclasses import dataclass

In [44]:
@dataclass

class Rectangle:
    height:int|float
    width :int|float


    def area(self):
        return(self.width*self.height)
    
    def perimeter(self):
        return 2 *(self.width + self.height)

In [45]:
rectangle = Rectangle(2,5)

In [46]:
rectangle.perimeter()

14

In [47]:
rectangle.area()

10

In [48]:
Square = Rectangle(4,4)

In [49]:
Square.perimeter()

16

In [50]:
Square.area()

16

In [67]:
@dataclass
class Circle:
    radius: int|float

    def perimeter(self):
        return 2 * 3.14 * self.radius

    def area(self):
        return 3.14 * (self.radius ** 2)

In [68]:
circle = Circle(5)
print('Perimeter:',circle.perimeter())
print('Area:', circle.area())

Perimeter: 31.400000000000002
Area: 78.5

In [69]:
circle.perimeter()

31.400000000000002

In [70]:
circle.area()

78.5

In [97]:
@dataclass
@dataclass
class Triangle :
    a : int|float
    b : int|float
    c : int|float
        
    def perimeter(self):
        if (
            (self.a + self.b > self.c) and 
            (self.b + self.c > self.a)  and 
            (self.c + self.a > self.b) ):
             return self.a + self.b + self.c
             
      
    def area(self):
        if self.perimeter() is not None:
            s = self.perimeter()/2
            return (s*(s-self.a)*(s-self.b)*(s-self.c))**(1/2)
        else:
            return 'Perimeter is None'

In [98]:
T= Triangle(23, 34, 45)
T.perimeter()
print(T)

Triangle(a=23, b=34, c=45)

In [99]:
rectangle = Rectangle(2,5)
Square = Rectangle(4,4)
circle = Circle(6)
T = Triangle(23, 34, 56)

In [100]:
circle.area()
circle.perimeter()

37.68

In [101]:
l1 = [rectangle,Square, circle, T ]

In [102]:
for i in l1:
    print(i)

Rectangle(height=2, width=5)
Rectangle(height=4, width=4)
Circle(radius=6)
Triangle(a=23, b=34, c=56)

In [103]:
print(rectangle)
print(Square)
print(T)
print(circle)

Rectangle(height=2, width=5)
Rectangle(height=4, width=4)
Triangle(a=23, b=34, c=56)
Circle(radius=6)

In [105]:
for i in (rectangle, Square, circle, T):
    print(i)
    print('Area is' , i.area())
    print('Perimeter is', i.perimeter())
    print()
    print()
    print('*******************************************')

Rectangle(height=2, width=5)
Area is 10
Perimeter is 14


*******************************************
Rectangle(height=4, width=4)
Area is 16
Perimeter is 16


*******************************************
Circle(radius=6)
Area is 113.04
Perimeter is 37.68


*******************************************
Triangle(a=23, b=34, c=56)
Area is 145.92271070672996
Perimeter is 113


*******************************************